* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

.container {
  max-width: 1000px;
  margin: auto;
}

.col {
  display: flex;
  flex-direction: column;
}

.app-header {
  padding: 16px;
  display: flex;
  justify-content: center;
}

textarea {
  resize: none;
  height: calc(100vh - 100px);
  padding: 16px;
  font-size: 1.2rem;
  outline: none;
  border: 2px solid dodgerblue;
  border-radius: 4px;
}

button {
  padding: 8px;
  min-width: 80px;
  margin: 0 16px;
}

.monokai-bg {
  background-color: #272822;
  padding: 8px;
  width: 1000px;
  min-height: calc(100vh - 100px);
}

input {
  font-size: 1.2rem;
  padding: 8px;
  border: 2px solid dodgerblue;
  outline: none;
  width: 700px;
}

.m-top-32 {
  margin-top: 32px;
}
